<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/dashboard">
            <img class="icon" src="../assets/images/smaller-homeroom-icon.png" width="30" height="30" alt="">
          </a>
          <a class="navbar-brand" href="/dashboard">
              <h1>HomeRoom</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto">
               
              </ul>
          </div>
        </div>
      </nav>

      <section>
        <div class="row">
          <h3 class="heading gradebookTitle col"> {{studentsAndAssignments.assignments.[0].subject.subject_name}}
             Grade Book</h3>
             <a href="/grades/addgrade" class="adda col"><h4 class="addGrade">Add Grade</h4><img src="/assets/images/addagain.png" class="addBtn" style="height: 5rem; width: auto;" alt=""></a>
          </div>
        <div class="container class-roster-container">
             <div class="row">
                <p class=" col col-name subjGradeBookCol">Last Name</p>
                <p class=" col col-name subjGradeBookCol">First Name</p>
                {{#each studentsAndAssignments.assignments as |assignment|}}
                <p class="col col-name assessGradeBookCol">{{assignment.assignment_name}}</p>
                {{/each}}
                <p class="col col-name finalGradeCol">Final Grade</p>
            </div>
            {{#each studentsAndAssignments.students as |student|}}
            <div class="row">
                <p class="col">{{student.last_name}}</p>
                <p class="col">{{student.first_name}}</p>
                {{#each this.grades}}
               <p class="col">{{this.number_grade}}
                 {{/each}}
               </p>
               <p class="col">Calc</p>
            </div>
           {{/each}}
    </section>

